<form [formGroup]="wishlistForm" (ngSubmit)="submitForm()">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody formArrayName="items">
            <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                <td>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" />
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button type="button" (click)="removeItem(i)">Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button mat-raised-button type="button" (click)="addItem()">Add Item</button>
        <button mat-raised-button type="submit">Submit</button>
    </div>
</form>